/vue/node_modules/
/vue/compare-vue/node_modules/
/vue/compare-vue/dist/

/svelte/node_modules/
/svelte/public/build/

/svelte/.DS_Store

/svelte/svelte-app/node_modules/
/svelte/svelte-app/public/build/

/svelte/svelte-app.DS_Store
